<!-- vacancy_detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacancy Detail</title>
    <!-- Ваши стили CSS или подключение Bootstrap здесь -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>{{ vacancy.title }}</h1>
        <p><strong>Company:</strong> {{ vacancy.company }}</p>
        <p><strong>Published:</strong> {{ vacancy.published_at }}</p>
        <p><strong>Area:</strong> {{ vacancy.area }}</p>
        <p><strong>Salary:</strong> {% if vacancy.salary_from %}{{ vacancy.salary_from }}{% endif %}
            {% if vacancy.salary_to %} - {{ vacancy.salary_to }}{% endif %}</p>
        <p><strong>Requirements:</strong></p>
        <p>{{ vacancy.requirements }}</p>
        <p><strong>Responsibilities:</strong></p>
        <p>{{ vacancy.responsibilities }}</p>
        <p><strong>Experience:</strong> {{ vacancy.experience }}</p>
        <p><strong>Employment:</strong> {{ vacancy.employment }}</p>
        <p><strong>Schedule:</strong> {{ vacancy.schedule }}</p>
        <p><strong>Description:</strong></p>
        <p>{{ vacancy.description }}</p>
    </div>
</body>
</html>

